* {
    margin: 0;
    padding: 0;
    
}

body {
    background: -moz-linear-gradient(left, #29DFAD 0%, #79FFD4 47%, #6DFFAD 100%);
background: -webkit-linear-gradient(left, #29DFAD 0%, #79FFD4 47%, #6DFFAD 100%);
background: linear-gradient(to right, #29DFAD 0%, #79FFD4 47%, #6DFFAD 100%);
color: rgb(255, 255, 255);
}
form {
    justify-content: center;
    text-align: center;
    margin: 150px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
    height: 150px;
    width: max-content;
    padding: 50px;
    margin-left: 320px;
    background: #4cb397;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;

}

.p1 {
    margin-right: 10px;
    text-shadow: 3px 5px 2px #474747, -40px 40px 12px rgba(206,89,55,0);
     background: #4cb397;
    color: rgb(255, 255, 255);
}

.p2 {
    margin: 20px;
     background: #4cb397;
     color: rgb(255, 255, 255);
}

.p3 {
     background: #4cb397;
     color: rgb(255, 255, 255);
}

.send {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 3px solid #000000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #088b68;
    padding: 8px;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.send:hover {
    background-color: #21cfa1;
    color: black;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

